@font-face {
    font-family: "Anonymous Pro";
    src: local("Anonymice Powerline"),
         url(fonts/AnonymousPro.woff2) format("woff2");
}
@font-face {
    font-family: "Inconsolata";
    src: local("Inconsolata for Powerline"),
         url(fonts/Inconsolata.woff2) format("woff2");
}
@font-face {
    font-family: "Inconsolata-g";
    src: local("Inconsolata-g for Powerline"),
         url(font/Inconsolata-g.woff2') format('woff2');
}
@font-face {
    font-family: "Liberation Mono";
    src: local("Literation Mono Powerline"),
         url(fonts/LiberationMono.woff2) format("woff2");
}
@font-face {
    font-family: "PT Mono";
    src: local("PT Mono for Powerline"),
         url(fonts/PTMono.woff2) format("woff2");
}
@font-face {
    font-family: "Source Code Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Sauce Code Powerline Regular"),
         url(fonts/SourceCodePro.woff2) format("woff2");
}
@font-face {
    font-family: "Source Code Pro for Powerline";
    font-style: normal;
    font-weight: 400;
    src: local("Sauce Code Powerline Regular"),
         url(fonts/SourceCodePro.woff2) format("woff2");
}
@font-face {
    font-family: "Ubuntu Mono";
    src: local("Ubuntu Mono derivative Powerline"),
         url(fonts/UbuntuMono.woff2) format("woff2");
}
