@font-face {
  font-family: 'Source Code Pro for Powerline';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro for Powerline'), local('Source Code Pro for Powerline-Regular') url(https://rawgit.com/wernight/powerline-web-fonts/master/Sauce%20Code%20Powerline%20Regular.woff2) format('woff2');
}
